body {
  margin: 0;
  box-sizing: border-box;
  background: #222831;
  color: #e8e8e8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
canvas{
  height: 100% !important;
  
}
